In [2]:
import pandas as pd

df = pd.read_csv('crime.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209201 entries, 0 to 209200
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   INCIDENT_NUMBER      209201 non-null  object
 1   OFFENSE_CODE         209201 non-null  int64
 2   OFFENSE_CODE_GROUP   209201 non-null  object
 3   OFFENSE_DESCRIPTION  209201 non-null  object
 4   DISTRICT             207806 non-null  object
 5   REPORTING_AREA       209200 non-null  object
 6   SHOOTING             703 non-null     object
 7   YEAR                 209200 non-null  float64
 8   MONTH                209200 non-null  float64
 9   DAY_OF_WEEK          209200 non-null  object
 10  HOUR                 209200 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 17.6+ MB

In [3]:
df.describe()

        OFFENSE_CODE           YEAR          MONTH          HOUR
count  209201.000000  209200.000000  209200.000000  209200.00000
mean     2355.328445    2017.191941       6.680554      13.11337
std      1178.709573       0.694953       3.330334       6.27282
min       111.000000    2015.000000       1.000000       0.00000
25%      1102.000000    2017.000000       4.000000       9.00000
50%      3006.000000    2017.000000       7.000000      14.00000
75%      3202.000000    2018.000000       9.000000      18.00000
max      3831.000000    2018.000000      12.000000      23.00000

In [8]:
df.OFFENSE_DESCRIPTION.value_counts()

OFFENSE_DESCRIPTION
SICK/INJURED/MEDICAL - PERSON                13309
INVESTIGATE PERSON                           13275
M/V - LEAVING SCENE - PROPERTY DAMAGE        10745
ASSAULT SIMPLE - BATTERY                      9823
VANDALISM                                     9540
                                             ...
PRISONER ATTEMPT TO RESCUE                       1
MANSLAUGHTER - NON-VEHICLE - NEGLIGENCE          1
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        1
DRUGS - GLUE INHALATION                          1
LARCENY THEFT                                    1
Name: count, Length: 190, dtype: int64

In [9]:
df.OFFENSE_CODE_GROUP.value_counts()

OFFENSE_CODE_GROUP
Motor Vehicle Accident Response              24928
Larceny                                      16576
Medical Assistance                           16440
Investigate Person                           13274
Other                                        11329
                                             ...
Gambling                                         6
Manslaughter                                     5
Biological Threat                                2
INVESTIGATE PERSON                               1
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        1
Name: count, Length: 66, dtype: int64